<p id="notice"><%= notice %></p>

<p>
  <strong>Profissional:</strong>
  <%= @usuario.profissional.nome %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @usuario.nome %>
</p>

<%= link_to 'Voltar', usuarios_path %>
