<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @perfil.nome %>
</p>

<% if current_user.perfil_id == 1 %>
  <%= link_to 'Editar', edit_perfil_path(@perfil) %> |
<% end %>
<%= link_to 'Voltar', perfis_path %>
