<header>
    <div>
      <nav>
        <ul>
          <% if logged_in? %>
            <% if current_user.perfil_id == 1 %>
              <li><%= link_to "Usuarios", usuarios_path %></li>
            <% end %>
              <ul>
                <p>
                  <strong>Usuário Logado: </strong>
                  <%= current_user.profissional.nome %>
                  - Não é você?  <%= link_to "Sair", sign_out_path, method: "delete" %>
                </p>

              </ul>
          <% else %>
            <li><%= link_to "Log in", root_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
