

  <% if logged_in? %>
        <div class="navbar-header">
          <a class="navbar-brand" href=../reservas>Home</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Cadastros</strong>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href=../clientes><strong>Cliente</strong><span class="sr-only">(current)</span></a></li>
                <li><a href=../servicos><strong>Serviço</strong><span class="sr-only">(current)</span></a></li>
                <% if current_user.perfil_id == 1 %>
                  <li><a href=../especialidades><strong>Especialidade</strong><span class="sr-only">(current)</span></a></li>
                  <li><a href=../perfis><strong>Perfil</strong><span class="sr-only">(current)</span></a></li>
                  <li><a href=../profissionais><strong>Profissional</strong><span class="sr-only">(current)</span></a></li>
                <% end %>
              </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Reservas</strong>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href=../reservas/por_data><strong>Por Data</strong><span class="sr-only">(current)</span></a></li>
              <li><a href=../reservas/realizadas><strong>Realizadas</strong><span class="sr-only">(current)</span></a></li>
              <% if current_user.perfil_id == 1 || current_user.perfil_id == 2 %>
                <li><a href=../reservas/em_aberto><strong>Em Aberto</strong><span class="sr-only">(current)</span></a></li>
                <li><a href=../reservas/pagas><strong>Pagas</strong><span class="sr-only">(current)</span></a></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><strong>Usuário Logado: </strong>
      <%= current_user.profissional.nome %> - Não é você? </a></li>
      <li><%= link_to "Sair", sign_out_path, method: "delete",
                          :class => "btn btn-danger" %></li>
    </ul>

  <% end %>
